<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<link rel="stylesheet" href="<%-logCss('common')%>">
	<link rel="stylesheet" href="<%-logCss('index')%>">
</head>
<body>
	<!-- 头部 -->
	<div class="site-header">
		<nav class="navbar">
			<div class="container">
				<div class="navbar-header">
					<a class="top-logo" href="/"><span></span></a>
				</div>
			</div>
		</nav>
		<div class="nav-tag">
			<div class="container">
				<ul>
					<li><a href="/" title="首页">首页</a></li>
					<li><a href="/" title="首页">Android</a></li>
					<li><a href="/" title="首页">JavaScript</a></li>
					<li><a href="/" title="首页">Python</a></li>
					<li><a href="/" title="首页">NodeJS</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 内容 -->
	<div class="site-main">
		<div class="block container">
			<div class="title"><h2>福利活动</h2></div>
			<ul class="list">
				<li>
					<a href="/" title=""><img src="http://img1.dowebok.com/220s.png" alt=""></a>
					<h3><a href="/" title="">手持iPhone 7 plus模型(PSD)</a></h3>
					<p>
						<time title="日期">2016-12-06</time>
						<span class="view">
							<span title="点击">点击(473)</span>
							<span title="赞">赞(<span>0</span>)</span>
						</span>
					</p>
				</li>
				<li>
					<a href="/" title=""><img src="http://img1.dowebok.com/220s.png" alt=""></a>
					<h3><a href="/" title="">手持iPhone 7 plus模型(PSD)</a></h3>
					<p>
						<time title="日期">2016-12-06</time>
						<span class="view">
							<span title="点击">点击(473)</span>
							<span title="赞">赞(<span>0</span>)</span>
						</span>
					</p>
				</li>
				<li>
					<a href="/" title=""><img src="http://img1.dowebok.com/220s.png" alt=""></a>
					<h3><a href="/" title="">手持iPhone 7 plus模型(PSD)</a></h3>
					<p>
						<time title="日期">2016-12-06</time>
						<span class="view">
							<span title="点击">点击(473)</span>
							<span title="赞">赞(<span>0</span>)</span>
						</span>
					</p>
				</li>
				<li>
					<a href="/" title=""><img src="http://img1.dowebok.com/220s.png" alt=""></a>
					<h3><a href="/" title="">手持iPhone 7 plus模型(PSD)</a></h3>
					<p>
						<time title="日期">2016-12-06</time>
						<span class="view">
							<span title="点击">点击(473)</span>
							<span title="赞">赞(<span>0</span>)</span>
						</span>
					</p>
				</li>
				<li>
					<a href="/" title=""><img src="http://img1.dowebok.com/220s.png" alt=""></a>
					<h3><a href="/" title="">手持iPhone 7 plus模型(PSD)</a></h3>
					<p>
						<time title="日期">2016-12-06</time>
						<span class="view">
							<span title="点击">点击(473)</span>
							<span title="赞">赞(<span>0</span>)</span>
						</span>
					</p>
				</li>
				<li>
					<a href="/" title=""><img src="http://img1.dowebok.com/220s.png" alt=""></a>
					<h3><a href="/" title="">手持iPhone 7 plus模型(PSD)</a></h3>
					<p>
						<time title="日期">2016-12-06</time>
						<span class="view">
							<span title="点击">点击(473)</span>
							<span title="赞">赞(<span>0</span>)</span>
						</span>
					</p>
				</li>
				<li>
					<a href="/" title=""><img src="http://img1.dowebok.com/220s.png" alt=""></a>
					<h3><a href="/" title="">手持iPhone 7 plus模型(PSD)</a></h3>
					<p>
						<time title="日期">2016-12-06</time>
						<span class="view">
							<span title="点击">点击(473)</span>
							<span title="赞">赞(<span>0</span>)</span>
						</span>
					</p>
				</li>
				<li>
					<a href="/" title=""><img src="http://img1.dowebok.com/220s.png" alt=""></a>
					<h3><a href="/" title="">手持iPhone 7 plus模型(PSD)</a></h3>
					<p>
						<time title="日期">2016-12-06</time>
						<span class="view">
							<span title="点击">点击(473)</span>
							<span title="赞">赞(<span>0</span>)</span>
						</span>
					</p>
				</li>
			</ul>
		</div>
	</div>
	<!-- 底部 -->
	<footer class="site-footer">
		<div class="container">
			<div class="widget">
				<h4 class="title">友情链接</h4>
				<p><a href="/">EasyJWeb开源</a>|<a href="/">EasyJWeb开源</a>|<<a href="/">EasyJWeb开源</a>|<a href="/">EasyJWeb开源</a></p>
			</div>
		</div>
	</footer>
</body>
</html>