<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<link rel="stylesheet" href="<%-logCss('common')%>">
	<link rel="stylesheet" href="<%-logCss('index')%>">
</head>
<body>
	<!-- 头部 -->
	<div class="site-header">
		<nav class="navbar">
			<div class="container">
				<div class="navbar-header">
					<a class="top-logo" href="/"><span></span></a>
				</div>
			</div>
		</nav>
		<div class="nav-tag">
			<div class="container">
				<ul>
					<li><a href="/" title="首页">首页</a></li>
					<li><a href="/" title="首页">Android</a></li>
					<li><a href="/" title="首页">JavaScript</a></li>
					<li><a href="/" title="首页">Python</a></li>
					<li><a href="/" title="首页">NodeJS</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 内容 -->
	<div class="html5-main">
		<div class="box container">
			<div class="box-item box-img">
				<img class="" src="http://img.htmleaf.com/1701/201701181426.jpg" alt="">
			</div>
			<div class="box-item box-info">
				<div class="tags"><span class="c-gray">标签：</span><a href="/">响应式</a><a href="/">轮播图</a></div>
				<div class="intro c-gray6"><h4 class="c-gray6">插件介绍:</h4><p>这是一款带视觉差效果的jquery响应式轮播图特效。该jquery轮播图的特点是可以使用鼠标拖拽进行切换，每个图片中都带有一个炫酷的透明字母。轮播图滑动时带有视觉差效果。</p></div>
				<div class="intro c-gray6"><h4 class="c-gray6">浏览器兼容性:</h4><p>这是一款带视觉差效果的jquery响应式轮播图特效。该jquery轮播图的特点是可以使用鼠标拖拽进行切换，每个图片中都带有一个炫酷的透明字母。轮播图滑动时带有视觉差效果。</p></div>
			</div>
		</div>
		<div class="content container">
			<div class="l-box"></div>
			<div class="r-box">
				<div>
					<h4 class="c-gray9">相关推荐</h4>
					<ul>
						<li><div class="thumb"><img width="50" height="50" src="http://img.htmleaf.com/1502/201502141811.jpg" alt=""></div><div><h3><a href="/">基于bootstrap的jQuery多级列表树插件</a></h3></div></li>
						<li><div class="thumb"><img width="50" height="50" src="http://img.htmleaf.com/1502/201502141811.jpg" alt=""></div><div><h3><a href="/">基于bootstrap的jQuery多级列表树插件</a></h3></div></li>
						<li><div class="thumb"><img width="50" height="50" src="http://img.htmleaf.com/1502/201502141811.jpg" alt=""></div><div><h3><a href="/">基于bootstrap的jQuery多级列表树插件</a></h3></div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<footer class="site-footer">
		<div class="container">
			<div class="widget">
				<h4 class="title">友情链接</h4>
				<p><a href="/">EasyJWeb开源</a>|<a href="/">EasyJWeb开源</a>|<<a href="/">EasyJWeb开源</a>|<a href="/">EasyJWeb开源</a></p>
			</div>
		</div>
	</footer>
</body>
</html>