<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title><%=title%></title>
<meta name="keywords" content="" />
<meta name="description" content="如影随形主题的个人博客模板，神秘、俏皮。" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<div>
  <header>
    
  </header>
</div>
</body>
</html>
