<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>
<meta name="keywords" content="个人博客模板,博客模板,响应式" />
<meta name="description" content="如影随形主题的个人博客模板，神秘、俏皮。" />
<link href="css/base.css" rel="stylesheet">
<link href="css/media.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
<style>
    .article{
        position: relative;
        width: 1000px;
        margin:80px auto 0;
    }
    h1{
        font-size: 26px;
        font-weight: bold;
    }
    input,textarea{
       margin: 8px 0;
    }
    textarea{
        line-height: 25px;
        text-indent: 12px;
        font-size: 14px;
    }
    input.title{
        width: 500px;
        text-indent: 12px;
        line-height: 28px;
    }
    .menu{
        position: absolute;
        left: -100px;
        top: 45px;
    }
    .menu a{
        color:#333;
        display: block;
        padding: 15px 4px;
        font-size: 16px;
    }
</style>
</head>
<body>
    <div class="article">
        <h1>请登录</h1>
        <br>
        <form method="get">
            <div>
                <label for="">用户名</label>
                <input type="text" class="username" name="username">
            </div>
            <div>
                <label for="">密　码</label>
                <input type="password" class="password" name="password">
            </div>
            <div>
                <input type="submit" value="登录">
            </div>
        </form>
        <div class="menu">
           <ul>
               <li>
                   <a href="/">首页</a>
               </li>
           </ul>
        </div>
    </div>
</body>
</html>